*.py linguist-language=python
*.html linguist-language=python
*.yaml linguist-language=python
*.md linguist-language=python
*.yml linguist-language=python
*.html linguist-language=python
*.js linguist-language=python 
*.xml linguist-language=python
*.css linguist-language=python
*.sql linguist-language=python
*.uml linguist-language=python 
*.cmd linguist-language=python
*.cpp linguist-language=python
*.i linguist-language=python
*.h linguist-language=python
*.o linguist-language=python
*.pyx linguist-language=python
*.hpp linguist-language=python
*.cu linguist-language=python
*.ipynb linguist-language=python
